.line{
  box-sizing: border-box;
  position: absolute;
  top: var(--y) ;
  left: var(--x);
  width: var(--length);
  height: calc(var(--strokeWidth) + 10px);
  transform-origin: 0 50%;
  rotate: var(--angle);
}

.line::before {
  content: '';
  position: absolute;
  top: calc(50% - var(--strokeWidth) / 2);
  left: 0;
  right: 0;
  border-top: var(--strokeWidth) var(--strokeStyle) var(--strokeColor);
}