.shape{
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: var(--width);
  height: var(--height);


  background-color: var(--fill);
  border-color: var(--strokeColor);
  border-width: var(--strokeWidth);
  border-style: var(--strokeStyle);
  opacity: var(--opacity);
}

.rectangle{
  border-radius: var(--borderRadius);
}

.oval{
  border-radius: 100%;
}