.shape{
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: var(--width);
  height: var(--height);


  background-color: var(--fill);
  border: var(--strokeWidth) var(--strokeStyle) var(--strokeColor);
  opacity: var(--opacity);
}

.rectangle{
  border-radius: var(--borderRadius);
}

.oval{
  border-radius: 100%;
}