.shape{
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: var(--width);
  height: var(--height);
  border: 2px solid #fff;
  background-color: #fff8;
}

.rectangle{
  border-radius: 0;
}

.oval{
  border-radius: 100%;
}