@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

.container{
  position: relative;
  width: 100vw;
  height: 100vh;
}

.interface{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
}

.interface *{
  pointer-events: auto;
}

.container .toolbar{
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  pointer-events: none;
}

.container .properties{
  position: absolute;
  top: 20px;
  right: 20px;
  pointer-events: none;
}